#datetime {
  grid-column: 1/3;
  grid-row: 1;
  background-color: #D9042B;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#datetime .date {
  font-size: 2em;
}

#datetime .time {
  font-size: 7em;
}

#datetime .ampm {
  font-size: 2em;
}