#datetime {
  grid-column: 1/4;
  grid-row: 1;
  background-color: #fa6800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#datetime .date {
  font-size: 3em;
}

#datetime .time {
  font-size: 8em;
}

#datetime .ampm {
  font-size: 2em;
}