#current-weather {
  grid-column: 3/5;
  grid-row: 1;
  background-color: #348899;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-weather .temperature {
  font-size: 10em;
  text-align: center;
}

#current-weather .description {
  font-size: 2em;
  text-align: center;
}