#current-weather {
  grid-column: 1/3;
  grid-row: 2;
  background-color: #0050ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-weather .temperature {
  font-size: 10em;
  text-align: center;
}

#current-weather .description {
  font-size: 2em;
  text-align: center;
}