#history {
  top: 15px;
  right: 15px;
  width: 300px;
  text-align: center;
}

#history > .fact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;
}

.fade-in {
  animation: fadeIn 0.25s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}