#headlines {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
}

.headline {
  text-align: right;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.headline h5 {
  margin: 0;
  font-weight: normal;
}

.headline p {
  margin: 5px;
  font-size: 0.75rem;
}

.headline img {
  margin-left: 10px;
}